!**/glob-import/dir/node_modules
.DS_Store
.idea
.pnpm-store
*.cpuprofile
*.local
*.log
/.vscode/
/docs/.vitepress/cache
/docs/.vitepress/.temp
/packages/vite/LICENSE
dist
dist-ssr
explorations
node_modules
playground-temp
temp
TODOs.md
.eslintcache

#Backend
backend/venv/
backend/__pycache__/
backend/.env

#Frontend
frontend/node_modules/
frontend/dist/

model2/venv/
model2/__pycache__/
model2/.env